* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* All slides stacked */
.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 20px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

/* First slide visible by default */
#slide1 {
    opacity: 1;
    pointer-events: auto;
}

/* When slide is targeted */
.slide:target {
    opacity: 1;
    pointer-events: auto;
}

/* Backgrounds */
#slide1 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide2 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide3 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide4 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide5 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide6 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide7 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide8 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide9 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }
#slide10 { background-image: url(https://i.pinimg.com/1200x/7c/4c/27/7c4c27812b1a4c93bdf502aafeb12228.jpg); }

/* Content animation */
.content {
    animation: fadeInUp 0.8s ease;
}

.small-img {
    width: 200px;
    height: 180px;
    position: absolute;
    top: 50px;
    right: 100px;
    width: 200px;
    
}

img {
    width: 250px;
    margin: 20px 0;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #ddd;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}